<div class ="aptBack">
  <div  class = "aptList">
    <table class="aptTable" >
      <thead class="tabHead">
      <tr>
        <th style="text-align: center">Apt Type</th>
        <th>Floor Plan</th>
        <th>Bed/Bath</th>
        <th>Sq Footage</th>
        <th>Apply</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Studio</th>
        <td class="zoom"><img  width="75px" height="75" src="../../../assets/images/studio.JPG"></td>
        <td>0/1</td>
        <td>450</td>
        <td>
          <button    type="button" class="m-0" [routerLink]="['/apply']">Available<br>3</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1 Bedroom</th>
        <td class="zoom"><img width="75px" height="75px" src="../../../assets/images/onebed.JPG"></td>
        <td>1/1</td>
        <td>650</td>
        <td>
          <button  type="button" class="m-0" [routerLink]="['/apply']">Available<br>2</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
