<app-logoutbar></app-logoutbar>
<h1 class="usebanner">Add/Manage Users</h1>
<app-navbar></app-navbar>

<div class="newUser">
  <h5>Add New User</h5>
  <form #submission="ngForm" class="newUserform">

      First Name:
      <input type="text" size="10">
      Last Name:
      <input type="text" size="10">
      Email:
      <input type="text" size="20">
      Username:
      <input type="text" size="10">
      Password:
      <input type="text" size="10">
      Role:
      <input type="radio" name="role"  #name="ngModel" [(ngModel)]="resident" [value]="false" [checked]="!resident">Employee
      <input type="radio" name="role"  #name="ngModel" [(ngModel)]="resident" [value]="true" [checked]="resident" >Resident
      <label *ngIf="resident">
        | Apt Number
      <input type="text" size="3"  >
      </label>
  </form>
</div>
<app-userlist></app-userlist>
