.navButtons{
    text-align: center;
}
.button1{
    background-color: black;
    color: gold;
    border: none;
    margin: 5px;
    border-radius: 12px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
}
