<div class="navDiv">
  <button class="manbutton" [routerLink]="['/manager/home']">Manager Home</button>
  <button class="manbutton" [routerLink]="['/manager/maint']">Maintenance</button>
  <button class="manbutton" [routerLink]="['/manager/apts']">Apartments</button>
  <button class="manbutton" [routerLink]="['/manager/apps']">Applications</button>
  <button class="manbutton" [routerLink]="['/manager/rent']">Rent</button>
  <button class="manbutton" [routerLink]="['/manager/users']">Users</button>
</div>
