
<div class="formForm">
<p class = "blurb">
  Please fill out the following form and one of our leasing<br>
  agents will contact you within the week.<br>
  <br>
  We can't wait to see you!
</p>
<div>
<form>
  First Name<br>
  <input type="text"><br>
  Last Name<br>
  <input type=""text><br>
  Phone<br>
  <input type="text"> <br> <input type="radio" name="phone">Landline <input type="radio" name="phone"> Mobile<br>
  Email<br>
  <input type="text"><br>
  <input type="button" value="Submit">
</form>
</div>
</div>

